@model PVB_Stage_Applicatie.Models.Persoonsgegevens

@{
    ViewBag.Title = "Details";
}

@section ZijMenu{
<li>@Html.ActionLink("Back to List", "Index") </li>

    @if (User.IsInRole("Beheerder"))
    {
        <li>@Html.ActionLink("Aanpassen", "Edit", new { id = Model.PersoonsgegevensID }) </li>
    }
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Stagiair details</h3>

    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Voornaam)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Voornaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Achternaam)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Achternaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Tussenvoegsel)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Tussenvoegsel)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Straat)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Straat)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Huisnummer)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Huisnummer)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Toevoeging)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Toevoeging)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Postcode)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Postcode)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Plaats)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Plaats)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Actief)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Actief)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.NonActiefReden)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.NonActiefReden)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.StudentNummer)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.StudentNummer)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Opleiding)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Opleiding)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Opleidingsniveau)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Opleidingsniveau)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

