@model IEnumerable<PVB_Stage_Applicatie.Models.Persoonsgegevens>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Beheerder"))
{
    @section zijMenu
    {
        <ul>
            <li>
                @Html.ActionLink("Create New", "Create")
            </li>
            <li>
                @Html.ActionLink("Bulk invoer", "BulkInvoerStagiair")
            </li>
        </ul>
    }

}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentNummer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNummer)
            </td>
            <td>
                @if (User.IsInRole("Beheerder"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersoonsgegevensID })
                }
                @Html.ActionLink("Details", "Details", new { id = item.PersoonsgegevensID })
            </td>

        </tr>
    }

</table>
