@model PVB_Stage_Applicatie.Models.BeoordelingModel

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

    cvsmaster {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }



    .clsbtn {
        text-align: center;
        vertical-align: middle;
    }
</style>
<script>
    $(document).ready(function () {
        $("#submitBtn").on('click', function () {
            $("#HandtekeningStudent")[0].value = Canvas2Image.convertToImage(d3.select("#s").node(), 200, 100, "png").src
            $("#HandtekeningBegeleider")[0].value = Canvas2Image.convertToImage(d3.select("#b").node(), 200, 100, "png").src
            $("#HandtekeningDocent")[0].value = Canvas2Image.convertToImage(d3.select("#d").node(), 200, 100, "png").src
        });

        $("form").submit(function () {
            for (var id in getekend) {
                if (!getekend[id]) {
                    alert("Elke partij moet een handtekening zetten");
                    return false;
                }
            }

            return true;
        });
    });


</script>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script src="~/Scripts/canvas2image.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

@using (Html.BeginForm("CreateEindbeoordeling", "Beoordeling", FormMethod.Post, new { id = "form" }))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Beoordeling.Stage)
    @Html.HiddenFor(m => m.Beoordeling.Datum)
    
    <table>
        <tr>
            <td>
                Student:
            </td>
            <td>
                @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens.Voornaam) @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens.Achternaam)
            </td>
            <td>
                Bedrijf:
            </td>
            <td>
                @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens2.Bedrijf1.Naam)
            </td>
        </tr>
        <tr>
            <td>
                Stagedocent:
            </td>
            <td>
                @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens1.Voornaam) @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens1.Achternaam)
            </td>
            <td>
                Stagebegeleider:
            </td>
            <td>
                @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens2.Voornaam) @Html.DisplayFor(m => m.Beoordeling.Stage1.Persoonsgegevens2.Achternaam)
            </td>
        </tr>
        <tr>
            <td>
                Periode
            </td>
            <td colspan="3">
                @Html.DisplayFor(m => m.Beoordeling.Stage1.Periode.Begindatum) @Html.DisplayFor(m => m.Beoordeling.Stage1.Periode.Einddatum)
            </td>
        </tr>
    </table>

    <p>
        <h3>Beoordeling</h3>
        @Html.RadioButtonFor(m => m.Beoordeling.Beoordeling1, 1) O onvoldoende
        @Html.RadioButtonFor(m => m.Beoordeling.Beoordeling1, 2) M matig
        @Html.RadioButtonFor(m => m.Beoordeling.Beoordeling1, 3) V voldoende
        @Html.RadioButtonFor(m => m.Beoordeling.Beoordeling1, 4) G goed
        @Html.RadioButtonFor(m => m.Beoordeling.Beoordeling1, 5) X niet van toepassing
        @Html.ValidationMessageFor(model => model.Beoordeling.Beoordeling1)
    </p>


    <table>
        <thead>
            <tr>
                <th>Technische aspecten</th>
                <th>O</th>
                <th>M</th>
                <th>V</th>
                <th>G</th>
                <th>X</th>
                <th>Opmerking</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Voorbereding werkzaamheden</td>

                <td>@Html.RadioButtonFor(m => m.Beoordeling.VoorbereidWerk, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VoorbereidWerk, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VoorbereidWerk, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VoorbereidWerk, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VoorbereidWerk, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.VoorbereidWerkOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.VoorbereidWerk) </td>

            </tr>
            <tr>
                <td>Plannen en organiseren werkzaamheden</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.PlanEnOrganiserenWerk, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.PlanEnOrganiserenWerk, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.PlanEnOrganiserenWerk, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.PlanEnOrganiserenWerk, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.PlanEnOrganiserenWerk, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.PlanEnOrganiserenWerkOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.PlanEnOrganiserenWerk) </td>
            </tr>
            <tr>
                <td>Theoretisch inzicht</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TheoretischInzicht, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TheoretischInzicht, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TheoretischInzicht, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TheoretischInzicht, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TheoretischInzicht, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.TheoretischInzichtOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.TheoretischInzicht) </td>
            </tr>
            <tr>
                <td>Technisch inzicht</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TechnischInzicht, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TechnischInzicht, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TechnischInzicht, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TechnischInzicht, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.TechnischInzicht, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.TechnischInzichtOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.TechnischInzicht) </td>
            </tr>
            <tr>
                <td>Kwaliteit geleverd werk</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KwalGeleverdWerk, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KwalGeleverdWerk, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KwalGeleverdWerk, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KwalGeleverdWerk, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KwalGeleverdWerk, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.KwalGeleverdWerkOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.KwalGeleverdWerk) </td>
            </tr>
            <tr>
                <td>Rapporterem werkzaamheden</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.RapportWerk, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.RapportWerk, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.RapportWerk, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.RapportWerk, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.RapportWerk, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.RapportWerkOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.RapportWerk) </td>
            </tr>
            <tr>
                <td>Houdt zich aan bedrijfsregels</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtBedrRegels, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtBedrRegels, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtBedrRegels, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtBedrRegels, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtBedrRegels, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.HoudtBedrRegelsOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.HoudtBedrRegels) </td>
            </tr>
            <tr>
                <td>Houdt zich aan ARBO regels</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtARBORegels, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtARBORegels, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtARBORegels, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtARBORegels, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudtARBORegels, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.HoudtARBORegelsOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.HoudtARBORegels) </td>
            </tr>
            <tr>
                <td>Werktempo</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.WerkTempo, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.WerkTempo, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.WerkTempo, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.WerkTempo, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.WerkTempo, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.WerkTempoOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.WerkTempo) </td>
            </tr>
            <tr>
                <td>Beoordeling Technische aspecten</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.BeoordelingTechAspect, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.BeoordelingTechAspect, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.BeoordelingTechAspect, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.BeoordelingTechAspect, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.BeoordelingTechAspect, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.BeoordelingTechAspectOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.BeoordelingTechAspect) </td>
            </tr>
        </tbody>
    </table>

    <br />

    <table>
        <thead>
            <tr>
                <th>Houdingsaspecten</th>
                <th>O</th>
                <th>M</th>
                <th>V</th>
                <th>G</th>
                <th>X</th>
                <th>Opmerking</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Verloop eerste contacten bedrijf</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VerloopEersteContact, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VerloopEersteContact, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VerloopEersteContact, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VerloopEersteContact, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.VerloopEersteContact, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.VerloopEersteContactOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.VerloopEersteContact) </td>
            </tr>
            <tr>
                <td>Houdingen ten aanzien van collega's</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVCollegas, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVCollegas, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVCollegas, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVCollegas, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVCollegas, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.HoudingTAVCollegasOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.HoudingTAVCollegas) </td>
            </tr>
            <tr>
                <td>Houding ten aanzien van leidinggevenden</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVLeiding, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVLeiding, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVLeiding, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVLeiding, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVLeiding, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.HoudingTAVLeidingOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.HoudingTAVLeiding) </td>
            </tr>
            <tr>
                <td>Houding ten aanzien van derden</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVDerden, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVDerden, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVDerden, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVDerden, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingTAVDerden, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.HoudingTAVDerdenOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.HoudingTAVDerden) </td>
            </tr>
            <tr>
                <td>Omgaan met kritiek</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OmgaanKritiek, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OmgaanKritiek, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OmgaanKritiek, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OmgaanKritiek, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OmgaanKritiek, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.OmgaanKritiekOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.OmgaanKritiek) </td>
            </tr>
            <tr>
                <td>Komt op tijd</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OpTijd, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OpTijd, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OpTijd, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OpTijd, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.OpTijd, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.OpTijdOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.OpTijd) </td>
            </tr>
            <tr>
                <td>Toont eigen initiatief</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontInitiatief, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontInitiatief, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontInitiatief, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontInitiatief, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontInitiatief, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.ToontInitiatiefOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.ToontInitiatief) </td>
            </tr>
            <tr>
                <td>Inzet</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Inzet, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Inzet, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Inzet, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Inzet, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Inzet, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.IntzetOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.Inzet) </td>
            </tr>
            <tr>
                <td>Toont belangstelling voor het vak</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontBelangstellingVak, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontBelangstellingVak, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontBelangstellingVak, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontBelangstellingVak, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ToontBelangstellingVak, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.ToontBelangstellingVakOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.ToontBelangstellingVak) </td>
            </tr>
            <tr>
                <td>Grenzen aangeven</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.GrenzenAangeven, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.GrenzenAangeven, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.GrenzenAangeven, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.GrenzenAangeven, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.GrenzenAangeven, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.GrenzenAangevenOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.GrenzenAangeven) </td>
            </tr>
            <tr>
                <td>Komt afspraken na</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KomtAfsprakenNa, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KomtAfsprakenNa, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KomtAfsprakenNa, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KomtAfsprakenNa, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.KomtAfsprakenNa, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.KomtAfsprakenNaOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.KomtAfsprakenNa) </td>
            </tr>
            <tr>
                <td>Kan zelfstandig werken</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ZelfstandigWerken, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ZelfstandigWerken, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ZelfstandigWerken, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ZelfstandigWerken, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.ZelfstandigWerken, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.ZelfstandigWerkenOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.ZelfstandigWerken) </td>
            </tr>
            <tr>
                <td>Gemotiveerd</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Gemotiveerd, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Gemotiveerd, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Gemotiveerd, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Gemotiveerd, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Gemotiveerd, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.GemotiveerdOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.Gemotiveerd) </td>
            </tr>
            <tr>
                <td>HoudingsAspecten</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingsAspecten, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingsAspecten, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingsAspecten, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingsAspecten, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.HoudingsAspecten, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.HoudingAspectenOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.HoudingsAspecten) </td>
            </tr>
        </tbody>
    </table>

    <br />

    <table>
        <thead>
            <tr>
                <th>Technische aspecten</th>
                <th>O</th>
                <th>M</th>
                <th>V</th>
                <th>G</th>
                <th>X</th>
                <th>Opmerking</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Verslag</td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Verslag, 1) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Verslag, 2) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Verslag, 3) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Verslag, 4) </td>
                <td>@Html.RadioButtonFor(m => m.Beoordeling.Verslag, 5) </td>
                <td>@Html.TextAreaFor(model => model.Beoordeling.VerslagOpm, new { @rows = 1, @cols = 50 })</td>
                <td>@Html.ValidationMessageFor(model => model.Beoordeling.Verslag) </td>
            </tr>
        </tbody>
    </table>

    <br />
    <table>
        <tr>
            <th align="center" valign="middle">Handtekening Docent</th>
            <th align="center" valign="middle">Handtekening Begeleider</th>
            <th align="center" valign="middle">Handtekening Stagiair</th>
        </tr>
        <tr>
            @Html.HiddenFor(m => m.HandtekeningDocent)
            @Html.HiddenFor(m => m.HandtekeningBegeleider)
            @Html.HiddenFor(m => m.HandtekeningStudent)

            <td align="center"><canvas id="d" width="200" height="100" class="cvs"></canvas> </td>
            <td align="center"><canvas id="b" width="200" height="100" class="cvs"></canvas> </td>
            <td align="center"><canvas id="s" width="200" height="100" class="cvs"></canvas> </td>
        </tr>
        <tr>
            <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('d')" /></td>
            <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('b')" /></td>
            <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('s')" /></td>
        </tr>
    </table>

    <input type="submit" id="submitBtn" value="Create" />

}

<script src="~/Scripts/mousecontroller.js"></script>

<div>
    @Html.ActionLink("Terug", "StudentIndex", "Formulier", new { id = Model.Beoordeling.Stage }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
