@model PVB_Stage_Applicatie.Models.Beoordeling

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-striped">

    <legend>Beoordeling</legend>

    <td class="display-label">
        @Html.DisplayNameFor(model => model.Stage1.StageID)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.Stage1.StageID)
    </td>

    <td class="display-label">
        @Html.DisplayNameFor(model => model.Datum)
    </td>
    <td class="display-field">
        @Html.DisplayFor(model => model.Datum)
    </td>
</table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Aspect</th>
                    <th>
                        Beoordeling <br />
                        O&nbsp; M&nbsp;G &nbsp;V NVT
                    </th>
                    <th>Opmerking</th>
                </tr>
            </thead>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.Beoordeling1)
                </td>
                <td class="display-field">
                    @Html.RadioButtonFor(model => model.Beoordeling1, 1, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.Beoordeling1, 2, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.Beoordeling1, 3, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.Beoordeling1, 4, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.Beoordeling1, 0, new { disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.VoorbereidWerk)
                </td>
                <td class="display-field">
                    @Html.RadioButtonFor(model => model.VoorbereidWerk, 1, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.VoorbereidWerk, 2, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.VoorbereidWerk, 3, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.VoorbereidWerk, 4, new { disabled = "disabled" })
                    @Html.RadioButtonFor(model => model.VoorbereidWerk, 0, new { disabled = "disabled" })
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.VoorbereidWerkOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.PlanEnOrganiserenWerk)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.PlanEnOrganiserenWerk)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.PlanEnOrganiserenWerkOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.TheoretischInzicht)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.TheoretischInzicht)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.TheoretischInzichtOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.KwalGeleverdWerk)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.KwalGeleverdWerk)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.KwalGeleverdWerkOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.RapportWerk)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.RapportWerk)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.RapportWerkOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.HoudtBedrRegels)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudtBedrRegels)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudtBedrRegelsOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.HoudtARBORegels)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudtARBORegels)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudtARBORegelsOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.WerkTempo)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.WerkTempo)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.WerkTempoOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.BeoordelingTechAspect)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.BeoordelingTechAspect)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.BeoordelingTechAspectOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.VerloopEersteContact)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.VerloopEersteContact)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.VerloopEersteContactOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.HoudingTAVCollegas)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingTAVCollegas)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingTAVCollegasOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.HoudingTAVLeiding)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingTAVLeiding)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingTAVLeidingOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.HoudingTAVDerden)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingTAVDerden)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingTAVDerdenOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.OmgaanKritiek)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.OmgaanKritiek)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.OmgaanKritiekOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.OpTijd)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.OpTijd)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.OpTijdOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.ToontInitiatief)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.ToontInitiatief)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.ToontInitiatiefOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.Inzet)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.Inzet)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.IntzetOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.ToontBelangstellingVak)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.ToontBelangstellingVak)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.ToontBelangstellingVakOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.GrenzenAangeven)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.GrenzenAangeven)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.GrenzenAangevenOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.KomtAfsprakenNa)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.KomtAfsprakenNa)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.KomtAfsprakenNaOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.ZelfstandigWerken)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.ZelfstandigWerken)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.ZelfstandigWerkenOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.Gemotiveerd)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.Gemotiveerd)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.GemotiveerdOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.HoudingsAspecten)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingsAspecten)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.HoudingAspectenOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.Verslag)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.Verslag)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.VerslagOpm)
                </td>
            </tr>
            <tr>
                <td class="display-label">
                    @Html.DisplayNameFor(model => model.EindBeoordeling)
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.EindBeoordeling)
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th align="center" valign="middle">Handtekening Docent</th>
                <th align="center" valign="middle">Handtekening Begeleider</th>
                <th align="center" valign="middle">Handtekening Stagiair</th>
            </tr>
            <tr>
                <td><img src="@System.Text.Encoding.ASCII.GetString(Model.HandtekeningDocent)" alt="Handtekening docent" /></td>
                <td><img src="@System.Text.Encoding.ASCII.GetString(Model.HandtekeningBegeleider)" alt="Handtekening begeleider" /></td>
                <td><img src="@System.Text.Encoding.ASCII.GetString(Model.HandtekeningStudent)" alt="Handtekening student" /></td>
            </tr>
        </table>
        <p>
            @Html.ActionLink("Terug", "StudentIndex", "Formulier", new { id = Model.Stage }, null)
        </p>


