@model PVB_Stage_Applicatie.Models.Stage

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<fieldset>
    <legend>Stage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Student)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stagedocent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stagedocent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stageperiode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stageperiode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stagebegeleider)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stagebegeleider)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
