@model PVB_Stage_Applicatie.Models.CreateLoginViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@section zijMenu{
    <li>@Html.ActionLink("Terug", "Index")</li>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Medewerkers</h3>

        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-striped">

                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Voornaam)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Voornaam)
                            @Html.ValidationMessageFor(model => model.Docent.Voornaam)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Achternaam)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Achternaam)
                            @Html.ValidationMessageFor(model => model.Docent.Achternaam)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Tussenvoegsel)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Tussenvoegsel)
                            @Html.ValidationMessageFor(model => model.Docent.Tussenvoegsel)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Email)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Email)
                            @Html.ValidationMessageFor(model => model.Docent.Email)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Straat)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Straat)
                            @Html.ValidationMessageFor(model => model.Docent.Straat)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Huisnummer)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Huisnummer)
                            @Html.ValidationMessageFor(model => model.Docent.Huisnummer)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Toevoeging)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Toevoeging)
                            @Html.ValidationMessageFor(model => model.Docent.Toevoeging)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Postcode)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Postcode)
                            @Html.ValidationMessageFor(model => model.Docent.Postcode)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Plaats)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Plaats)
                            @Html.ValidationMessageFor(model => model.Docent.Plaats)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.MedewerkerID)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.MedewerkerID)
                            @Html.ValidationMessageFor(model => model.Docent.MedewerkerID)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Login.Gebruikersnaam)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Login.Gebruikersnaam)
                            @Html.ValidationMessageFor(model => model.Login.Gebruikersnaam)
                        </td>


                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Login.Wachtwoord)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Login.Wachtwoord)
                            @Html.ValidationMessageFor(model => model.Login.Wachtwoord)
                        </td>
                        </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-lg btn-default" value="Opslaan" />

                        </td>
                        <td>@Html.Encode(ViewData["Foutmelding"])</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
