@model PVB_Stage_Applicatie.Models.CreateLoginViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@section zijMenu{
        <li>@Html.ActionLink("Terug", "Index")</li>
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Persoonsgegevens</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Voornaam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Voornaam)
            @Html.ValidationMessageFor(model => model.Docent.Voornaam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Achternaam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Achternaam)
            @Html.ValidationMessageFor(model => model.Docent.Achternaam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Tussenvoegsel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Tussenvoegsel)
            @Html.ValidationMessageFor(model => model.Docent.Tussenvoegsel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Email)
            @Html.ValidationMessageFor(model => model.Docent.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Straat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Straat)
            @Html.ValidationMessageFor(model => model.Docent.Straat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Huisnummer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Huisnummer)
            @Html.ValidationMessageFor(model => model.Docent.Huisnummer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Toevoeging)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Toevoeging)
            @Html.ValidationMessageFor(model => model.Docent.Toevoeging)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Postcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Postcode)
            @Html.ValidationMessageFor(model => model.Docent.Postcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.Plaats)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.Plaats)
            @Html.ValidationMessageFor(model => model.Docent.Plaats)
        </div>
               
        <div class="editor-label">
            @Html.LabelFor(model => model.Docent.MedewerkerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Docent.MedewerkerID)
            @Html.ValidationMessageFor(model => model.Docent.MedewerkerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login.Gebruikersnaam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login.Gebruikersnaam)
            @Html.ValidationMessageFor(model => model.Login.Gebruikersnaam)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Login.Wachtwoord)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login.Wachtwoord)
            @Html.ValidationMessageFor(model => model.Login.Wachtwoord)
        </div>
        <p>
            <input type="submit" value="Toevoegen" />
        </p>
        <p>@Html.Encode(ViewData["Foutmelding"])</p>

    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
