@model PVB_Stage_Applicatie.Models.CreateLoginViewModel
@section zijMenu{
    @if (User.IsInRole("Beheerder"))
    {
        <li>
            @Html.ActionLink("Terug", "Index")


        </li>
    }
    <li>
        @Html.ActionLink("Bewerken", "Edit", new { id = Model.Docent.PersoonsgegevensID })
    </li>

}
@{
    ViewBag.Title = "Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Html.DisplayFor(model => model.Docent.Voornaam) @Html.DisplayFor(model => model.Docent.Tussenvoegsel) @Html.DisplayFor(model => model.Docent.Achternaam)</h3>

    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Voornaam)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Voornaam)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Achternaam)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Achternaam)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Tussenvoegsel)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Tussenvoegsel)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Email)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Email)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Straat)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Straat)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Huisnummer)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Huisnummer)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Toevoeging)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Toevoeging)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Postcode)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Postcode)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Plaats)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Plaats)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.Actief)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.Actief)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.NonActiefReden)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.NonActiefReden)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Docent.MedewerkerID)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Docent.MedewerkerID)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Login.Gebruikersnaam)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Login.Gebruikersnaam)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

