@model PVB_Stage_Applicatie.Models.Persoonsgegevens
@section zijMenu{
    <ul>
        <li>
            @Html.ActionLink("Aanpassen", "Edit", new { id = Model.PersoonsgegevensID })
        </li>
@if (User.IsInRole("Beheerder"))
{
        <li>
            @Html.ActionLink("Terug", "Index")


        </li>
}
    </ul>
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset class="details-field">
    <legend>Persoonsgegevens</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Voornaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voornaam)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Achternaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Achternaam)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Tussenvoegsel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tussenvoegsel)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Straat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Straat)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Huisnummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Huisnummer)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Toevoeging)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Toevoeging)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Plaats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Plaats)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Actief)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actief)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NonActiefReden)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NonActiefReden)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MedewerkerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MedewerkerID)
    </div>

</fieldset>

