@model PVB_Stage_Applicatie.Models.Persoonsgegevens
@section zijMenu{
    <ul>
        <li>
            @Html.ActionLink("Terug", "Index")
        </li>
    </ul>
}
<script>
    $(document).ready(function () {
        if ($("#Actief")[0].checked) {
            $("#NonActiefReden")[0].disabled = true;
        }
        else {
            $("#NonActiefReden")[0].disabled = false;
        }
    });

    $("#Actief").live("click", function () {
        if ($("#Actief")[0].checked) {
            debugger;
            $("#NonActiefReden")[0].disabled = true;
            $("#NonActiefReden")[0].value = "";
        }
        else {
            $("#NonActiefReden")[0].disabled = false;
        }
    });
</script>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Persoonsgegevens</legend>

        @Html.HiddenFor(model => model.PersoonsgegevensID)
        @Html.HiddenFor(model => model.Voornaam)
        @Html.HiddenFor(model => model.Achternaam)
        @Html.HiddenFor(model => model.Tussenvoegsel)

        <div class="editor-label">
            @Html.LabelFor(model => model.Voornaam)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Voornaam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Achternaam)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Achternaam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tussenvoegsel)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Tussenvoegsel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Straat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Straat)
            @Html.ValidationMessageFor(model => model.Straat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Huisnummer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Huisnummer)
            @Html.ValidationMessageFor(model => model.Huisnummer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Toevoeging)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Toevoeging)
            @Html.ValidationMessageFor(model => model.Toevoeging)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Postcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postcode)
            @Html.ValidationMessageFor(model => model.Postcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Plaats)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Plaats)
            @Html.ValidationMessageFor(model => model.Plaats)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Actief)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Actief)
            @Html.ValidationMessageFor(model => model.Actief)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonActiefReden)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonActiefReden)
            @Html.ValidationMessageFor(model => model.NonActiefReden)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MedewerkerID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.MedewerkerID)
            @Html.ValidationMessageFor(model => model.MedewerkerID)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
