@model PVB_Stage_Applicatie.Models.CreateLoginViewModel
@section zijMenu{
    <li>
        @Html.ActionLink("Terug", "Index")
    </li>
}
<script>
    $(document).ready(function () {
        if ($("#Docent_Actief")[0].checked) {
            $("#Docent_NonActiefReden")[0].disabled = true;
        }
        else {
            $("#Docent_NonActiefReden")[0].disabled = false;
        }

        $("#Docent_Actief").change(function () {
            if ($("#Docent_Actief")[0].checked) {
                $("#Docent_NonActiefReden")[0].disabled = true;
                $("#Docent_NonActiefReden")[0].value = "";
            }
            else {
                $("#Docent_NonActiefReden")[0].disabled = false;
            }
        });

        $("form").validate({
            ignore: "#Docent_Wachtwoord"
        })
    });


</script>
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Bewerken</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-12">
                <table class="table table-striped">

                    @Html.HiddenFor(model => model.Docent.PersoonsgegevensID)
                    @Html.HiddenFor(model => model.Docent.Voornaam)
                    @Html.HiddenFor(model => model.Docent.Achternaam)
                    @Html.HiddenFor(model => model.Docent.Tussenvoegsel)
                    @Html.HiddenFor(model => model.Docent.MedewerkerID)
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Voornaam)
                        </td>
                        <td class="editor-field">
                            @Html.DisplayFor(model => model.Docent.Voornaam)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Achternaam)
                        </td>
                        <td class="editor-field">
                            @Html.DisplayFor(model => model.Docent.Achternaam)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Tussenvoegsel)
                        </td>
                        <td class="editor-field">
                            @Html.DisplayFor(model => model.Docent.Tussenvoegsel)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Email)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Email)
                            @Html.ValidationMessageFor(model => model.Docent.Email)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Straat)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Straat)
                            @Html.ValidationMessageFor(model => model.Docent.Straat)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Huisnummer)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Huisnummer)
                            @Html.ValidationMessageFor(model => model.Docent.Huisnummer)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Toevoeging)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Toevoeging)
                            @Html.ValidationMessageFor(model => model.Docent.Toevoeging)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Postcode)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Postcode)
                            @Html.ValidationMessageFor(model => model.Docent.Postcode)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Plaats)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Plaats)
                            @Html.ValidationMessageFor(model => model.Docent.Plaats)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.Actief)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.Actief)
                            @Html.ValidationMessageFor(model => model.Docent.Actief)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.NonActiefReden)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Docent.NonActiefReden)
                            @Html.ValidationMessageFor(model => model.Docent.NonActiefReden)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Docent.MedewerkerID)
                        </td>
                        <td class="editor-field">
                            @Html.DisplayFor(model => model.Docent.MedewerkerID)
                            @Html.ValidationMessageFor(model => model.Docent.MedewerkerID)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Login.Gebruikersnaam)
                        </td>
                        <td class="editor-field">
                            @Html.DisplayFor(model => model.Login.Gebruikersnaam)
                            @Html.HiddenFor(model => model.Login.Gebruikersnaam)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Login.Wachtwoord)
                        </td>
                        <td class="editor-field">
                            @Html.TextBoxFor(model => model.Login.Wachtwoord, new{@class="ignore"})
                            @Html.ValidationMessageFor(model => model.Login.Wachtwoord)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-lg btn-default" value="Save" />
                        </td>
                        <td>@Html.Encode(ViewData["Foutmelding"])</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
