@model IEnumerable<PVB_Stage_Applicatie.Models.Persoonsgegevens>

@{
    ViewBag.Title = "Index";
}
@section zijMenu{
    <li>@Html.ActionLink("Nieuwe docent", "Create")</li>
    <li>@Html.ActionLink("Bulk invoer", "BulkInvoerDocent")</li>
}
<h2>Index</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Docenten</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        Medewerker ID
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Voornaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Achternaam)
                    </th>

                    <th>
                        Actief
                    </th>
                    <th>
                        Non-actief Reden
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("" + item.MedewerkerID, "Details", new { id = item.PersoonsgegevensID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Voornaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Achternaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actief)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonActiefReden)
                        </td>

                        <td>
                            @Html.ActionLink("Bewerken", "Edit", new { id = item.PersoonsgegevensID }, new { @class = "btn btn-xs btn-info" })
                            @Html.ActionLink("Details", "Details", new { id = item.PersoonsgegevensID }, new { @class = "btn btn-xs btn-info" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>