@model IEnumerable<PVB_Stage_Applicatie.Models.Persoonsgegevens>

@{
    ViewBag.Title = "Index";
}
@section zijMenu{
    <ul>
        <li>@Html.ActionLink("Nieuwe docent", "Create")</li>
        <li>@Html.ActionLink("Bulk invoer", "")</li>
    </ul>
}
<h2>Index</h2>

<table>
    <tr>
        <th>
            Medewerker ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>

        <th>
            Actief
        </th>
        <th>
            Non-actief Reden
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("" + item.MedewerkerID, "Details", new { id = item.PersoonsgegevensID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonActiefReden)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PersoonsgegevensID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PersoonsgegevensID }) 
            </td>
        </tr>
    }

</table>
