@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    span {
        font-size: 7em;
    }

    .tile {
        margin: 25px;
    }
</style>
@if (HttpContext.Current.User.IsInRole("Docent")){
    <table>
        <tr>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Stagiair")'><span class="glyphicon glyphicon-user"></span><br /> Mijn stagiaires </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Begeleider")'><span class="glyphicon glyphicon-user"></span><br /> Begeleiders </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Docent")'><span class="glyphicon glyphicon-user"></span><br /> Ik </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Bedrijf")'><span class="glyphicon glyphicon-home"></span><br /> Mijn bedrijfen </a>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Periode")'><span class="glyphicon glyphicon-calendar"></span><br /> Mijn periodes </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Koppeling")'><span class="glyphicon glyphicon-link"></span><br /> Mijn koppelingen </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Formulier")'><span class="glyphicon glyphicon-list"></span><br /> Mijn formulieren </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("logUit", "Login")'><span class="glyphicon glyphicon-log-out"></span><br /> Loguit </a>
                </div>
            </td>
        </tr>
    </table>
}

@if (HttpContext.Current.User.IsInRole("Beheerder"))
{
    <table>
        <tr>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Stagiair")'><span class="glyphicon glyphicon-user"></span><br /> Stagiair </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Begeleider")'><span class="glyphicon glyphicon-user"></span><br /> Begeleider </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Docent")'><span class="glyphicon glyphicon-user"></span><br /> Docent </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Bedrijf")'><span class="glyphicon glyphicon-home"></span><br /> Bedrijf </a>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Periode")'><span class="glyphicon glyphicon-calendar"></span><br /> Periode </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("index", "Koppeling")'><span class="glyphicon glyphicon-link"></span><br /> Koppeling </a>
                </div>
            </td>
            <td align="center">
                <div class="tile">
                    <a class="table" href='@Url.Action("logUit", "Login")'><span class="glyphicon glyphicon-log-out"></span><br /> Loguit </a>
                </div>
            </td>
        </tr>
    </table>
}