@model PVB_Stage_Applicatie.Models.TussentijdseEindBeoordelingModel
@{
    ViewBag.Title = "CreateBeeindeging";
}

<style type="text/css">
    cvsmaster {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .clsbtn {
        text-align: center;
        vertical-align: middle;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || parseDate(value, "dd-MM-yyyy") !== null;
        };

        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        
        $("#dpd1")[0].value = "";


        var checkin = $('#dpd1')
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: "dd-mm-yyyy",
                format: "dd-mm-yyyy",
            })
            .on('changeDate', function () {
                checkin.hide();
            })
            .data('datepicker');
    });
</script>

@section zijMenu{


    <li>
        @Html.ActionLink("Terug", "StudentIndex", "Formulier", new { id = Model.TussentijdseBeeindegingModel.Stage }, null)
    </li>
}


@using (Html.BeginForm("CreateBeeindeging", "TussentijdseBeeindiging", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.TussentijdseBeeindegingModel.Stage)
    @Html.HiddenFor(m => m.RedenenOrganisatie)
    @Html.HiddenFor(m => m.RedenenOnderwijsinstelling)
    @Html.HiddenFor(m => m.RedenenStudent)
    
    <h2>CreateBeeindeging</h2>

    <table class="table table-striped">
        <tr>
            <td>
                Student:
            </td>
            <td>
                @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens.Voornaam) @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens.Achternaam)
            </td>
            <td>
                Bedrijf:
            </td>
            <td>
                @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens2.Bedrijf1.Naam)
            </td>
        </tr>
        <tr>
            <td>
                Stagedocent:
            </td>
            <td>
                @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens1.Voornaam) @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens1.Achternaam)
            </td>
            <td>
                Stagebegeleider:
            </td>
            <td>
                @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens2.Voornaam) @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Persoonsgegevens2.Achternaam)
            </td>
        </tr>
        <tr>
            <td>
                Periode
            </td>
            <td colspan="3">
                @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Periode.Begindatum) @Html.DisplayFor(m => m.TussentijdseBeeindegingModel.Stage1.Periode.Einddatum)
            </td>
        </tr>
    </table>
    
    <div class="velden">
        <p>
            <h3>CREBO</h3>

            @Html.TextBoxFor(m => m.TussentijdseBeeindegingModel.CREBO)
            @Html.ValidationMessageFor(model => model.TussentijdseBeeindegingModel.CREBO)
        </p>

        <p>
            <h3>Beoogde einddatum</h3>

            @Html.TextBoxFor(model => model.TussentijdseBeeindegingModel.Einddatum, new { @class = "kalender begin", @readonly = "true", id = "dpd1" })<span class="glyphicon glyphicon-calendar"></span>
            @Html.ValidationMessageFor(model => model.TussentijdseBeeindegingModel.Einddatum)
        </p>
        <p>
            <h3>Leerweg</h3>

            @Html.RadioButtonFor(m => m.TussentijdseBeeindegingModel.Leerweg, 0) BOL
            @Html.RadioButtonFor(m => m.TussentijdseBeeindegingModel.Leerweg, 1) BBL
            @Html.ValidationMessageFor(model => model.TussentijdseBeeindegingModel.Leerweg)
        </p>
    </div>
    <br />
    <div data-veld="RedenenOnderwijsinstelling" class="checkboxes">
        <h3>Redenen onderwijsinstelling</h3>
        @foreach (var item in Model.RedenOnderwijsinstelling)
        {
            @:<input type="checkbox" data-id="@item.RedenID" /> @item.Reden <br />
        }
        @Html.ValidationMessageFor(model => model.RedenOnderwijsinstelling)
    </div>
    <br />
    <div data-veld="RedenenOrganisatie" class="checkboxes">
        <h3>Redenen praktijkbiedende organisatie</h3>
        @foreach (var item in Model.RedenOrganisatie)
        {
            @:<input type="checkbox" data-id="@item.RedenOrganisatie1" /> @item.Reden <br />
        }
        @Html.ValidationMessageFor(model => model.RedenenOrganisatie)
    </div>
    <br />
    <div data-veld="RedenenStudent" class="checkboxes">
        <h3>Redenen student</h3>
        @foreach (var item in Model.RedenStudent)
        {
            @:<input type="checkbox" data-id="@item.RedenID" /> @item.Reden <br />
        }
        @Html.ValidationMessageFor(model => model.RedenenStudent)
    </div>
    <br />
    <input type="submit" value="Create" onclick="JahoorStuurMaar()"/>
}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script type="text/javascript">

    function JahoorStuurMaar() {

        d3.selectAll(".checkboxes").each(function () {
            var group = this.dataset.veld;
            var temp = "";

            d3.select(this).selectAll("input").each(function () {
                if (this.checked) {
                    temp += this.dataset.id + ",";
                }
            });

            $("#" + group)[0].value = temp.slice(0, -1);
        });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}