@model PVB_Stage_Applicatie.Models.TussentijdseBeindeging

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TussentijdseBeindeging</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TussentijdsebeoordelingID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TussentijdsebeoordelingID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stage1.StageID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stage1.StageID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Einddatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Einddatum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREBO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREBO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Leerweg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Leerweg)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
