@model PVB_Stage_Applicatie.Models.TussentijdseBeindeging

@{
    ViewBag.Title = "Details";
}
@section zijMenu{


    <li>
        @Html.ActionLink("Terug", "StudentIndex", "Formulier", new { id = Model.Stage }, null)
    </li>
}

<h2>Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Periodes</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.TussentijdsebeoordelingID)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.TussentijdsebeoordelingID)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Stage1.StageID)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Stage1.StageID)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Einddatum)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Einddatum)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.CREBO)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.CREBO)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Leerweg)
                    </td>
                    <td class="display-field">
                        @if (Model.Leerweg == 0)
                        {
                            <p>BOL</p>
                        }
                        else
                        {
                            <p>BBL</p>
                        }
                    </td>
                </tr>
            </table>

            <h3>Redenen onderwijsinstelling</h3>
            @foreach (var item in Model.RedenOnderwijsinstelling)
            {
                <p><input type="checkbox" data-id="@item.RedenID" checked disabled/> @item.Reden </p>
            }

            <h3>Redenen praktijkbiedende organisatie</h3>
            @foreach (var item in Model.RedenOrganisatie)
            {
                <p><input type="checkbox" data-id="@item.RedenOrganisatie1" checked disabled /> @item.Reden </p>
            }

            <h3>Redenen student</h3>
            @foreach (var item in Model.RedenStudent)
            {
                <p><input type="checkbox" data-id="@item.RedenID" checked disabled /> @item.Reden </p>
            }
            </div>
        </div>
    </div>
</div>