@model IEnumerable<PVB_Stage_Applicatie.Models.TussentijdseBeindeging>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TussentijdsebeoordelingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage1.StageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einddatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREBO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leerweg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TussentijdsebeoordelingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage1.StageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Einddatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREBO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leerweg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TussentijdsebeoordelingID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TussentijdsebeoordelingID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TussentijdsebeoordelingID })
        </td>
    </tr>
}

</table>
