<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <div id="bovenbalk">
        
        <nav class="navbar navbar-default"  >
            <a class="navbar-brand" href='/Home/Index'>Stage Applicatie</a>
            <div class="navbar-collapse collapse">
                @Html.Partial("~/Views/Shared/_Menu.cshtml")
            </div>
        </nav>
        </div>
    <div>
        <ul class="nav nav-tabs" role="tablist">

            @RenderSection("zijMenu", false)
            </ul>
</div>
    <div id="content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(window).load(function () {
        debugger;
        var pathname = window.location.pathname;
        var controllername = "/" + pathname.split('/')[1];
        $('a[href="' + controllername + '"]').parent().addClass("active");

        $(".nav-tabs > .active a").addClass("glyphicon glyphicon-arrow-left");

        $(".nav-tabs > .active a").text("");
    });
</script>
