@model PVB_Stage_Applicatie.Models.Persoonsgegevens

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@section zijMenu{
    <li>@Html.ActionLink("Terug", "Index")</li>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Stagebegeleider toevoegen</h3>

        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-striped">

                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Voornaam)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Voornaam)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Voornaam)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Achternaam)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Achternaam)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Achternaam)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Tussenvoegsel)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Tussenvoegsel)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Tussenvoegsel)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Email)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Straat)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Straat)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Straat)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Huisnummer)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Huisnummer)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Huisnummer)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Toevoeging)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Toevoeging)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Toevoeging)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Postcode)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Postcode)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Postcode)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Plaats)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.Plaats)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Plaats)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Bedrijf, "Bedrijf1")
                        </td>
                        <td class="editor-field">
                            @Html.DropDownList("Bedrijf", String.Empty)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.Bedrijf)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Create" />
                        </td>
                        <td colspan="2">@Html.Encode(ViewData["Foutmelding"])</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        }



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
