@model IEnumerable<PVB_Stage_Applicatie.Models.Persoonsgegevens>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section zijMenu{
    <ul>
        <li>@Html.ActionLink("Nieuwe begeleider", "Create")</li>
        <li>@Html.ActionLink("Bulk invoer", "")</li>
    </ul>
}
<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actief)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedrijf1.Naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Actief)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Bedrijf1.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersoonsgegevensID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersoonsgegevensID }) 
        </td>   
    </tr>
}

</table>
