@model IEnumerable<PVB_Stage_Applicatie.Models.Persoonsgegevens>

@{
    ViewBag.Title = "Index";
}

@section zijMenu{
    <li>@Html.ActionLink("Nieuwe begeleider", "Create")</li>
    <li>@Html.ActionLink("Bulk invoer", "BulkInvoerBegeleider")</li>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Begeleiders</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Voornaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Achternaam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Actief)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bedrijf1.Naam)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Voornaam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Achternaam)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Actief)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bedrijf1.Naam)
                        </td>
                        <td>
                            @Html.ActionLink("Bewerken", "Edit", new { id = item.PersoonsgegevensID }, new { @class = "btn btn-xs btn-info" })
                            @Html.ActionLink("Details", "Details", new { id = item.PersoonsgegevensID }, new { @class = "btn btn-xs btn-info" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>