@model PVB_Stage_Applicatie.Models.Stage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@section zijMenu{
        <li>@Html.ActionLink("Terug", "Index")</li>
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Stage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Student, "Student")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Student", String.Empty)
            @Html.ValidationMessageFor(model => model.Student)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stagedocent, "Stagedocent")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Stagedocent", String.Empty)
            @Html.ValidationMessageFor(model => model.Stagedocent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stageperiode, "Periode")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Stageperiode", String.Empty)
            @Html.ValidationMessageFor(model => model.Stageperiode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Stagebegeleider, "Stagebegeleider")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Stagebegeleider", String.Empty)
            @Html.ValidationMessageFor(model => model.Stagebegeleider)
        </div>

        <p>
            <input type="submit" value="Create" />
            @Html.Encode(ViewData["Foutmelding"])
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
