@model PVB_Stage_Applicatie.Models.Stage

@{
    ViewBag.Title = "Details";
}

@section zijMenu{
    <li>@Html.ActionLink("Terug", "Index")</li>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Koppeling details</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <table class="table table-striped">
                <tr>
                    <th colspan="2">
                        <h4>Stagiair</h4>
                    </th>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens.Voornaam):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens.Voornaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens.Achternaam):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens.Tussenvoegsel) @Html.DisplayFor(model => model.Persoonsgegevens.Achternaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens.Email):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens.Email)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <tr>
                    <th colspan="2">
                        <h4>Docent</h4>
                    </th>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens1.Voornaam):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens1.Voornaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens1.Achternaam):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens1.Tussenvoegsel) @Html.DisplayFor(model => model.Persoonsgegevens1.Achternaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens1.Email):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens1.Email)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <tr>
                    <th colspan="2">
                        <h4>Begeleider</h4>
                    </th>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens2.Voornaam):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens2.Voornaam)
                    </td>
                </tr>
                <tr>

                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens2.Achternaam):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens2.Tussenvoegsel)  @Html.DisplayFor(model => model.Persoonsgegevens2.Achternaam)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Persoonsgegevens1.Email):
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Persoonsgegevens1.Email)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <tr>
                    <th colspan="2">
                        <h4>Begeleider</h4>
                    </th>
                </tr>
                <tr>
                    <td class="display-label">
                        Begindatum:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Periode.Begindatum)
                    </td>
                </tr>
                <tr>
                    <td class="display-label">
                        Einddatum:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Periode.Einddatum)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

