@model PVB_Stage_Applicatie.Models.GespreksformulierViewModel

@{
    ViewBag.Title = "CreateGespreksFormulier";
}
<script src="~/Scripts/canvas2image.js"></script>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>


<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
    }

    cvsmaster {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .clsbtn {
        text-align: center;
        vertical-align: middle;
    }
</style>
<h2>CreateGespreksFormulier</h2>
<script>
    $(document).ready(function () {
        $("#snelwatdoen").on('click', function () {
            debugger;
            $("#HandtekeningStudent")[0].value = Canvas2Image.convertToImage(d3.select("#s").node(), 200, 100, "png").src
            $("#HandtekeningBegeleider")[0].value = Canvas2Image.convertToImage(d3.select("#b").node(), 200, 100, "png").src
            $("#HandtekeningDocent")[0].value = Canvas2Image.convertToImage(d3.select("#d").node(), 200, 100, "png").src
        })
    });
</script>
@using (Html.BeginForm("CreateGespreksFormulier", "GespreksFormulier", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.StageID.StageID)
    <table>
        <tr>
            <td>
                Student:
            </td>
            <td>
                @Html.DisplayFor(m => m.StageID.Persoonsgegevens.Voornaam) @Html.DisplayFor(m => m.StageID.Persoonsgegevens.Achternaam)
            </td>
            <td>
                Bedrijf:
            </td>
            <td>
                @Html.DisplayFor(m => m.StageID.Persoonsgegevens2.Bedrijf1.Naam)
            </td>
        </tr>
        <tr>
            <td>
                Stagedocent:
            </td>
            <td>
                @Html.DisplayFor(m => m.StageID.Persoonsgegevens1.Voornaam) @Html.DisplayFor(m => m.StageID.Persoonsgegevens1.Achternaam)
            </td>
            <td>
                Stagebegeleider:
            </td>
            <td>
                @Html.DisplayFor(m => m.StageID.Persoonsgegevens2.Voornaam) @Html.DisplayFor(m => m.StageID.Persoonsgegevens2.Achternaam)
            </td>
        </tr>
        <tr>
            <td>
                Periode
            </td>
            <td>
                @Html.DisplayFor(m => m.StageID.Periode.Begindatum) @Html.DisplayFor(m => m.StageID.Periode.Einddatum) 
            </td>
        </tr>
    </table>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Datum)
                    @Html.DisplayFor(m => m.Datum)
                </td>
                <td colspan="2">
                    @Html.RadioButtonFor(m => m.Type, 1) Telefonisch
                    @Html.RadioButtonFor(m => m.Type, 2) Bezoek
                    @Html.ValidationMessageFor(model => model.Type)
                </td>
            </tr>
            <tr>
                <td colspan="3">
                        @Html.TextAreaFor(model => model.Gesprek, new { @rows = 10, @cols = 75 })
                        @Html.ValidationMessageFor(model => model.Gesprek)
                </td>
            </tr>
            <tr>
                <th align="center" valign="middle">Handtekening Docent</th>
                <th align="center" valign="middle">Handtekening Begeleider</th>
                <th align="center" valign="middle">Handtekening Stagiair</th>
            </tr>
            <tr>
                @Html.HiddenFor(m => m.HandtekeningDocent)
                @Html.HiddenFor(m => m.HandtekeningBegeleider)
                @Html.HiddenFor(m => m.HandtekeningStudent)

                <td><canvas id="d" width="200" height="100" class="cvs"></canvas> </td>
                <td><canvas id="b" width="200" height="100" class="cvs"></canvas> </td>
                <td><canvas id="s" width="200" height="100" class="cvs"></canvas> </td>
            </tr>
            <tr>
                <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('d')" /></td>
                <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('b')" /></td>
                <td align="center" valign="middle"><input class="clsbtn" value="Clear" type="button" onclick="ClearCanvas('s')" /></td>
            </tr>

        </table>
<script src="~/Scripts/mousecontroller.js"></script>
    
                <input type="submit" value="Create" id="snelwatdoen"/>
    
}
<input type="button" id="klikje" />


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
`