@model PVB_Stage_Applicatie.Models.Gespreksformulier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Gespreksformulier</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stage1.StageID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stage1.StageID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Datum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gesprek)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gesprek)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GespreksformulierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
