@model PVB_Stage_Applicatie.Models.Gespreksformulier

@{
    ViewBag.Title = "Details";

    var beeindigd = !(Model.Stage1.TussentijdseBeindeging.Count == 0 && Model.Stage1.Beoordeling.Where(e => e.EindBeoordeling == true).FirstOrDefault() == null);
}
<script>
    $(document).ready(function () {
        if ($("#type")[0].innerText == "1") {
            $(".handtekeningen").hide();
        }
    })
</script>
<h2>Details</h2>

<fieldset class="details-field">
    <legend>Gespreksformulier</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Stage1.StageID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stage1.StageID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Datum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datum)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ContactType)
    </div>
    <div class="display-field" id="type">
        @Html.DisplayFor(model => model.ContactType)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Gesprek)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gesprek)
    </div>

    <table class="handtekeningen">
        <tr>
            <th align="center" valign="middle">Handtekening Docent</th>
            <th align="center" valign="middle">Handtekening Begeleider</th>
            <th align="center" valign="middle">Handtekening Stagiair</th>
        </tr>
        <tr>
            <td><img src="@System.Text.Encoding.ASCII.GetString(Model.HandtekeningDocent)" alt="Handtekening docent" /></td>
            <td><img src="@System.Text.Encoding.ASCII.GetString(Model.HandtekeningBegeleider)" alt="Handtekening begeleider" /></td>
            <td><img src="@System.Text.Encoding.ASCII.GetString(Model.HandtekeningStudent)" alt="Handtekening student" /></td>
        </tr>
    </table>
</fieldset>
<p>
    @if (!beeindigd)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.GespreksformulierID }); <thisdoesnottink>|</thisdoesnottink>
    }
    @Html.ActionLink("Terug", "StudentIndex", "Formulier", new { id = Model.Stage }, null)
</p>
