@model PVB_Stage_Applicatie.Models.Gespreksformulier

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Gespreksformulier</legend>

        @Html.HiddenFor(model => model.GespreksformulierID)
        @Html.HiddenFor(model => model.Datum)
        @Html.HiddenFor(model => model.ContactType)

        @Html.HiddenFor(model => model.Stage)

        <div class="editor-label">
            @Html.LabelFor(model => model.Gesprek)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Gesprek)
            @Html.ValidationMessageFor(model => model.Gesprek)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Terug", "StudentIndex", "Formulier", new { id = Model.Stage }, null)


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
