@model IEnumerable<PVB_Stage_Applicatie.Models.Gespreksformulier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stage1.StageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gesprek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stage1.StageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gesprek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GespreksformulierID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GespreksformulierID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GespreksformulierID })
        </td>
    </tr>
}

</table>
