@model PVB_Stage_Applicatie.Models.LoginForm
@{
    ViewBag.Title = "Login";
}
    
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    if (Model != null && !Model.correct)
    {
        <script>alert("Gebruikersnaam of wachtwoord incorrect")</script>
    }
    
    <fieldset>
        <legend>LoginForm</legend>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Gebruikersnaam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gebruikersnaam)
            @Html.ValidationMessageFor(model => model.Gebruikersnaam)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Wachtwoord)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Wachtwoord)
            @Html.ValidationMessageFor(model => model.Wachtwoord)
        </div>
    
        <p>
            <input type="submit" value="Login" />
        </p>
    </fieldset>
}
