@model PVB_Stage_Applicatie.Models.Periode
<script>
    $.validator.methods.date = function (value, element) {
        return this.optional(element) || Globalize.parseDate(value);
    }
</script>
@section zijMenu{
        <li>
            @Html.ActionLink("Terug", "Index")
        </li>
}
<script type="text/javascript">
$(function () {
    $(".begin").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        dateFormat: "dd-mm-yy",
        onClose: function (selectedDate) {
            $(".eind").datepicker("option", "minDate", selectedDate);
        }
    });
    $(".eind").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        dateFormat: "dd-mm-yy",
        onClose: function (selectedDate) {
            $(".begin").datepicker("option", "maxDate", selectedDate);
        }
    });
    $.validator.methods.date = function (value, element) {
        return this.optional(element) || Globalize.parseDate(value, "dd-mm-yyyy") !== null;
    }
});
</script>

@{
    ViewBag.Title = "Periode aanmaken";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="datum">
        <legend>Periode</legend>
        <div class="editor-label">
            Begindatum
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Begindatum, new { @class="kalender begin", @readonly="true"})
            @Html.ValidationMessageFor(model => model.Begindatum)
        </div>

        <div class="editor-label">
            Einddatum
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Einddatum, new { @class = "kalender eind", @readonly = "true" })
            @Html.ValidationMessageFor(model => model.Einddatum)
        </div>

        <p>
            <input type="submit" value="Aanmaken" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
