@model PVB_Stage_Applicatie.Models.Periode

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Periode</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Periode1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Periode1)
            @Html.ValidationMessageFor(model => model.Periode1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Begindatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Begindatum)
            @Html.ValidationMessageFor(model => model.Begindatum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Einddatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Einddatum)
            @Html.ValidationMessageFor(model => model.Einddatum)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
