@model PVB_Stage_Applicatie.Models.Periode
@section zijMenu{
    <ul>
        @Html.ActionLink("Terug", "Index")
        </li>
}
@{
    ViewBag.Title = "Delete";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Weet je zeker dat je dit wil verwijderen? Alle onderliggende data wordt ook verwijderd!</h3>


    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Periode1)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Periode1)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Begindatum)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Begindatum)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Einddatum)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Einddatum)
                    </td>
            </table>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Verwijderen" onclick="return confirm('Weet je het zeker? Dit is een onomkeerbare actie!')" />
    </p>
}
