@model PVB_Stage_Applicatie.Models.Periode

@{
    ViewBag.Title = "Details";
}
@section zijMenu{
<li>
    @Html.ActionLink("Back to List", "Index")
</li>
    @if (User.IsInRole("Beheerder")) { 
    <li>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Periode1 })
    </li>
}}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            Details
        </h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <table class="table table-striped">

                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Begindatum)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Begindatum)
                    </td>

                </tr>
                <tr>
                    <td class="display-label">
                        @Html.DisplayNameFor(model => model.Einddatum)
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Einddatum)
                    </td>
            </table>
        </div>
    </div>
</div>

