@model PVB_Stage_Applicatie.Models.Periode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Periode</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Periode1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periode1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Begindatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Begindatum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Einddatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Einddatum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
