@model PVB_Stage_Applicatie.Models.Periode

@section zijMenu{
        <li>
            @Html.ActionLink("Back to List", "Index")
        </li>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || parseDate(value, "dd-MM-yyyy") !== null;
        };
    });
    $(document).ready(function () {
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

        var checkin = $('#dpd1').datepicker({
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            },
            format:"dd-mm-yyyy"
        }).on('changeDate', function (ev) {
            if (ev.date.valueOf() > checkout.date.valueOf()) {
                var newDate = new Date(ev.date)
                newDate.setDate(newDate.getDate() + 1);
                checkout.setValue(newDate);
            }
            checkin.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
        var checkout = $('#dpd2').datepicker({
            onRender: function (date) {
                return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
            },
            format: "dd-mm-yyyy"
        }).on('changeDate', function (ev) {
            checkout.hide();
        }).data('datepicker');
    });

</script>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Periode bewerken</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.Periode1)
                        </td>
                        <td class="editor-field">
                            @Html.DisplayFor(model => model.Periode1)
                            @Html.HiddenFor(model => model.Periode1)
                            @Html.ValidationMessageFor(model => model.Periode1)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            Begindatum
                        </td>
                        <td class="editor-field">
                            @Html.TextBoxFor(model => model.Begindatum, "{0:dd/MM/yyyy}", new { _class = "begin", id = "dpd1", _readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Begindatum)
                        </td>

                    </tr>
                    <tr>
                        <td class="editor-label">
                            Einddatum
                        </td>
                        <td class="editor-field">
                            @Html.TextBoxFor(model => model.Einddatum, "{0:dd/MM/yyyy}",   new { @class = "eind", id = "dpd2", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Einddatum)
                        </td>
                        </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-lg btn-default" value="Opslaan" />

                        </td>
                        <td>@Html.Encode(ViewData["Foutmelding"])</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
