@model PVB_Stage_Applicatie.Models.Periode
@section zijMenu{
        <li>
            @Html.ActionLink("Back to List", "Index")
        </li>
}
<script type="text/javascript">
    $(function () {
        $(".begin").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "mm-dd-yy",
            onClose: function (selectedDate) {
                $(".eind").datepicker("option", "minDate", selectedDate);
            }
        });
        $(".eind").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "mm-dd-yy",
            onClose: function (selectedDate) {
                $(".begin").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Periode</legend>
        @Html.HiddenFor(model => model.Periode1)


        <div class="editor-label">
            @Html.LabelFor(model => model.Periode1)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Periode1)
            @Html.ValidationMessageFor(model => model.Periode1)
        </div>

        <div class="editor-label">
            Begindatum
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Begindatum, new { @class = "kalender begin"})<span class="glyphicon glyphicon-calendar"></span>
            @Html.ValidationMessageFor(model => model.Begindatum)
        </div>

        <div class="editor-label">
            Einddatum
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Einddatum, new { @class = "kalender eind" })<span class="glyphicon glyphicon-calendar"></span>
            @Html.ValidationMessageFor(model => model.Einddatum)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
