@model IEnumerable<PVB_Stage_Applicatie.Models.Periode>

@{
    ViewBag.Title = "Index";
}

@section zijMenu{
        <li>@Html.ActionLink("Periode toevoegen", "Create")</li>
}
<h2>Index</h2>
<p>@Html.Encode(ViewData["KanAanpassen"])</p>
<table>
    <tr>
        <th>
            Periode
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Begindatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einddatum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Periode1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Begindatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Einddatum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Periode1  }) |
            @Html.ActionLink("Details", "Details", new { id = item.Periode1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Periode1 })
        </td>
    </tr>
}

</table>
