@model IEnumerable<PVB_Stage_Applicatie.Models.Periode>

@{
    ViewBag.Title = "Index";
}

@section zijMenu{
    @if (User.IsInRole("Beheerder")) { 
    <li>@Html.ActionLink("Periode toevoegen", "Create")</li>}
                                                            
}
<h2>Index</h2>
<p>@Html.Encode(ViewData["KanAanpassen"])</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Periodes</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        Periode
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Begindatum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Einddatum)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Periode1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Begindatum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Einddatum)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Periode1 })
                            @if (User.IsInRole("Beheerder")) { 
                            @Html.ActionLink("Edit", "Edit", new { id = item.Periode1 });
                            @Html.ActionLink("Delete", "Delete", new { id = item.Periode1 });
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>