@model PVB_Stage_Applicatie.Models.Bedrijf
<script>
    $(document).ready(function () {
        $("#Actief").prop('checked', true);
        $("#NonActiefReden")[0].disabled = true;
    });

    $("#Actief").live("click", function () {
        if ($("#Actief")[0].checked) {
            debugger;
            $("#NonActiefReden")[0].disabled = true;
            $("#NonActiefReden")[0].value = "";
        }
        else {
            $("#NonActiefReden")[0].disabled = false;
        }
    });
</script>

@{
    ViewBag.Title = "Create";
}
    @section zijMenu{
        <ul>
            <li>@Html.ActionLink("Terug", "Index")</li>
        </ul>
    }

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Bedrijf</legend>

        <div class="editor-label">
            Bedrijfsnaam
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Naam)
            @Html.ValidationMessageFor(model => model.Naam)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
        <p>@Html.Encode(ViewData["Foutmelding"])</p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
