@model PVB_Stage_Applicatie.Models.Bedrijf
<script>
    $(document).ready(function () {
        debugger;
        if($(".display-field .check-box")[0].checked)
        {
            $("#NonActiefReden")[0].hidden = true;
        }
    });
</script>
@section zijMenu{
    <ul>
@if (User.IsInRole("Beheerder"))
{
    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.BedrijfID })</li>
}
    <li>@Html.ActionLink("Back to List", "Index")</li>
</ul>
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bedrijf</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Naam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naam)
    </div>

    <div class="display-label">
        Actief
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actief)
    </div>
    
    <div id="NonActiefReden" class="display-label">
        Non-actief reden
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NonActiefReden)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.KvKNummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KvKNummer)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Plaats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Plaats)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Straatnaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Straatnaam)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Huisnummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Huisnummer)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Toevoeging)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Toevoeging)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Telefoonnummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefoonnummer)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>

<h2>Mederwerkers</h2>
<table>
    <tr>
        <th>Medewerker</th>
        <th></th>
    </tr>
    @foreach(var item in Model.Persoonsgegevens)
    {
        <tr>
            <td>
                @item.Voornaam @item.Toevoeging @item.Achternaam
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Begeleider", new { id = item.PersoonsgegevensID }, null)
            </td>
        </tr>
    }
</table>