@model IEnumerable<PVB_Stage_Applicatie.Models.Bedrijf>

@{
    ViewBag.Title = "Index";
}


@if (User.IsInRole("Beheerder"))
{
    @section zijMenu{
        <li>@Html.ActionLink("Nieuw bedrijf", "Create")</li>
        <li>@Html.ActionLink("Bulk invoer", "BulkInvoerBedrijf")</li>
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Bedrijven</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Naam)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Actief)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NonActiefReden)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KvKNummer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Plaats)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("" + item.Naam, "Details", new { id = item.BedrijfID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actief)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NonActiefReden)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KvKNummer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plaats)
                        </td>
                        <td>
                            @if (User.IsInRole("Beheerder"))
                            {
                                @Html.ActionLink("Bewerken", "Edit", new { id = item.BedrijfID }, new { @class = "btn btn-xs btn-info" })
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>