@model IEnumerable<PVB_Stage_Applicatie.Models.Bedrijf>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actief)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonActiefReden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actief)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonActiefReden)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BedrijfID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BedrijfID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BedrijfID })
        </td>
    </tr>
}

</table>
