@model IEnumerable<PVB_Stage_Applicatie.Models.Bedrijf>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Beheerder"))
{
    @section zijMenu{
        <ul>
            <li>@Html.ActionLink("Nieuw bedrijf", "Create")</li>
            <li>@Html.ActionLink("Bulk invoer", "BulkInvoerBedrijf")</li>
        </ul>
    }
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actief)
        </th>
        <th>
            Reden non-actief
        </th>
@if (User.IsInRole("Beheerder"))
{
        <th></th>
}
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("" + item.Naam, "Details", new { id = item.BedrijfID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actief)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonActiefReden)
            </td>
            @if (User.IsInRole("Beheerder"))
            {
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.BedrijfID })
                </td>
            }

        </tr>

    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
