@model PVB_Stage_Applicatie.Models.Bedrijf

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<fieldset>
    <legend>Bedrijf</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Naam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Actief)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actief)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NonActiefReden)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NonActiefReden)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.KvKNummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KvKNummer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Plaats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Plaats)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Straatnaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Straatnaam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Huisnummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Huisnummer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Toevoeging)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Toevoeging)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefoonnummer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefoonnummer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BedrijfID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
